body {
    background-color: #b3ecff;
    text-align: center;
}

h1{
text-align: center;
color: rgb(16, 16, 97);
}

.header {
    background-color: rgba(15, 59, 189, 0.8);
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.header-links {
    text-align: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 30px;
    color: red;
    }





* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row {
  content: "";
  clear: both;
  display: table;
}