body {
    background-color: #b3ecff;
    text-align: center;
}

h1{
text-align: center;
color: blue;
}

.header {
    background-color: rgba(15, 59, 189, 0.8);
    height: 35px;
}

a {
    text-decoration: none;
    color: white;
}

.header-links {
    text-align: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 30px;
    color: red;
    }

.date-font { 
    color: red; 
    font-size: 20px; 
    font-weight: bold;
    text-shadow: 1px 1px white; 
    } 

/*style of the clock on about.html  */   
#clock {
    height: 100vh;
    width: 100%;
    color: red;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 50px;
    }
